<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="author" content="David Hu">

  	<title>snapgraph</title>
	<link rel="stylesheet" href="../css/bootstrap.css" />
	<link rel="stylesheet" href="../fortawesome/css/font-awesome.min.css" />
	<link href="../css/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../js/graph.js"></script>
	<script type="text/javascript" src="../js/bootstrap.js"></script>
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<a href="https://github.com/Jasdev/snapgraph/wiki/Documentation"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
	<div id="top">
		<h1>snapgraph</h1>
		<div id="searchStatus" class="icon-search" style="position:relative;left:30px;top:-3px;"></div>
		<input type="text" id="search" />
		<i class="icon-globe icon-2x" id="globe"></i>
	</div>
	<div id="main">
		<div id="tooltip" style="position:absolute;">octopi</div>
		<div id="chart"></div>
	</div>



	<div id="bottom">

		<a id="david" target="_blank" href="http://twitter.com/octopi" rel="tooltip">
			<img src="../img/david.jpg" class="img-circle" />
		</a>

		<a id="jasdev" target="_blank" href="http://twitter.com/justdavesingh" rel="tooltip">
			<img src="../img/jasdev.png" class="img-circle" />
		</a>

		<a id="nishant" target="_blank" href="http://twitter.com/binroo" rel="tooltip">
			<img src="../img/nishant.jpg" class="img-circle" />
		</a>

		<div id="links">
			<a href="http://github.com/Jasdev/snapgraph" target="_blank">GitHub</a>
			&middot;
			<a href="https://github.com/Jasdev/snapgraph/wiki/Documentation" target="_blank">Wiki</a>	
		</div>
		

	</div>
	<img src="../img/graphs.png" id="graphbg" />


	<script>

	$(document).ready(function() {
		$("#david").tooltip({
		   'title': 'David Hu, @octopi',
		   'placement': 'left'
		 });

		$("#nishant").tooltip({
		   'title': 'Nishant Shukla, @binroo',
		   'placement': 'right'
		 });

		$("#jasdev").tooltip({
		   'title': 'Jasdev Singh, @justdavesingh',
		   'placement': 'top'
		 });

		// tooltip always follows mouse
		$('body').mousemove(function(e) {
			$('#tooltip').css({'top': e.clientY + 20, 'left': e.clientX});
		});


		$('#search').keypress(function(e) {
			if(e.which === 13) {
				magToLoading();
				$('#chart').html('');
				$('#top').animate({
					marginTop: '2%'
				}, 400, function() { console.log('done'); });
				$('#chart').fadeIn(400, function() {
					var graph = new myGraph("#chart");
					var user = $('#search').val();
					addToGraph(graph, user);

					function addToGraph(graph, name) {
						$.ajax({
							url: 'getuser?u=' + name
						}).done(function(result) {
							console.log('DONE', result);
							loadingToMag();

							if(result.error) {
								$('#top').effect('shake', {times: 4, distance:5}, 200);
							}
							if(result.children.length === 0) {
								graph.addNode(name);						
							} else {
								for(var i = 0; i < result.children.length; i++) {
									var f = result.children[i].name;

									graph.addNode(name);
									graph.addNode(f);
									graph.addLink(name, f, result.children[i].score);

								}
							}
						});
					}
					
					$(document).on('click', 'g', function(e) {
						magToLoading();
						addToGraph(graph, e.currentTarget.__data__.id);
					});
										
				});
				e.preventDefault();
			}
		}); // end #search.keypress

		function magToLoading() {
			$('#searchStatus').attr('class', '');
			$('#searchStatus').addClass('icon-repeat');
			$('#searchStatus').addClass('icon-spin');
			$('#search').prop('disabled', true);
		}
		function loadingToMag() {
			$('#searchStatus').attr('class', '');
			$('#searchStatus').addClass('icon-search');
			$('#search').prop('disabled', false);
		}
	});
	</script>
</body>
</html>