<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  	<meta name="author" content="David Hu">

  	<title>d3test</title>
	<link rel="stylesheet" href="../css/bootstrap.css" />
	<link rel="stylesheet" href="../fortawesome/css/font-awesome.min.css" />
	<link href="../css/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="../js/graph.js"></script>
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>

	<div id="top">
		<h1>snapgraph</h1>
		<input type="text" id="search" />
		<div class="icon-search" style="position:relative;right:35px;top:-3px;"></div>
		<i class="icon-globe icon-2x" id="globe"></i>
	</div>
	<div id="main">
		<div id="chart"></div>
	</div>
	<div id="bottom"></div>
	<img src="../img/graphs.png" id="graphbg" />

	<script>
	$(document).ready(function() {
		$('#search').keypress(function(e) {
			if(e.which === 13) {
				console.log('yo');
				$('#top').animate({
					marginTop: '2%'
				}, 400, function() { console.log('done'); });
				$('#chart').fadeIn(400, function() {
					// START D3 SHIT
					
				});
				e.preventDefault();
			}
		});
	});
	</script>
</body>
</html>