/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	/*background: url('../../img/satinweave.png');*/
	/*background: #efefef;*/
	/*/*@include radial-gradient(ellipse farthest-corner at center top, #FFFFFF 0%, #EFE3E7 100%);*/
	@include background(radial-gradient(color-stops(#fefefe, #dfdfdf), center top));
	/*background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #EFE3E7 100%);*/
	/*background: -webkit-linear-gradient(#edf0f4 40%, #fff 90%);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	color:#444;
}

#top {
	background: #bd3632;
	padding:5px 5px 5px 5px;
	height:44px;
	width: 570px;
	vertical-align: middle;
	@include border-radius(44px);
	margin:0 auto;
	margin-top:17%;
	@include box-shadow(#555 1px 1px 2px);
	input {
		padding-left:10px;
		margin-left:10px;
	}
}

h1 {
	font-family: "Grand Hotel";
	font-size:32px;
	color:#fafafa;
	margin:0;
	margin-left:20px;
	@include text-shadow(#444 1px 1px 2px);
	display: inline;
}

h1#sub {
	font-family: "Ubuntu";
	font-size:80px;
	margin:0;
	color:#BFAEB5;
	margin-left:20px;
	line-height: 90px;
	@include text-shadow(#444 1px 1px 2px);
	display: inline;
}

#subtext{
	font-size:18px;
	padding-bottom: 30px;
}

#search {
	width:330px;
	margin-top: 5px;
	margin-right:5px;
	margin-left:0 !important;
	padding-left:30px !important;
	border-radius: 20px;
}

#globe {
	position:relative;
	top:3px;
	color:#efefef;
	@include box-shadow(#222 1px 1px 2px);
	background:#9b2826;
	padding:5px;
	width:60px;
	height:40px;
	@include border-radius(1000px);
}

#globe:hover {
	cursor: pointer;
}

#main {
	width: 960px;
	height: 75px;
	margin:0px auto;
}

.rounded {
	@include border-radius(8px);
	@include box-shadow(#aaa -1px -1px 7px inset);
}

#chart {
	@extend .rounded;
	background: #fafafa;
	width:650px;
	height:500px;
	margin:0 auto;
	margin-top:50px;
	display:none;
}

#graphbg {
	position:fixed;
	bottom:-270px;
	right:0;
	z-index:-1;
}

#tooltip {
	background:#444;
	color:#fafafa;
	padding:2px 8px;
	font-size: 12px;
	@include border-radius(40px);
	@include box-shadow(1px 1px 2px #888);
	@include text-shadow(1px 1px 1px #010101);
	display: none;
}

#highscores {
	width:400px;
	margin:0 auto;
	position: relative;
	table {
		@include box-shadow(inset -8px -8px 16px #000);
		@include box-shadow(0 1px 16px #444);
		color:#efefef;
		background:url('../../img/black-Linen.png');
		width:400px;
		position: fixed;
		z-index: 50;
		@include border-radius(0 0 8px 8px);
		thead {
			font-weight: bold;
		}
		tr.zebra1 {
			background:rgba(255, 255, 255, 0.1);
		}
		tr:hover {
			cursor: pointer;
			background: rgba(255, 255, 255, 0.2);
		}
		.nohover:hover {
			cursor: inherit;
			background: none;
		}
		td {
			padding:10px;
		}
	}
}


/*****
D3 STYLES
*****/

line.link {
	fill: none;
	stroke-width: 1.5px;
	position:relative;
	z-index:-10;
}

g.node {
	position:relative;
	z-index:5;
}

g.node:hover {
	cursor: pointer;
}

div#bottom{
	a { display: inline-block; }
	text-align: center;
	width: 350px;
	margin: 0px auto;
	img{
		margin: 10px auto;
	    width: 100px;
	    height: 100px;
	}
	div#links{
		width: 200;
		margin: 10px auto;
	}
}

div#help{
	margin: 0px auto;
	text-align: center;
}
