/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	/*background: url('../../img/satinweave.png');*/
	/*background: #efefef;*/
	/*/*@include radial-gradient(ellipse farthest-corner at center top, #FFFFFF 0%, #EFE3E7 100%);*/
	@include background(radial-gradient(color-stops(#fefefe, #dfdfdf), center top));
	/*background-image: -webkit-radial-gradient(center top, ellipse farthest-corner, #FFFFFF 0%, #EFE3E7 100%);*/
	/*background: -webkit-linear-gradient(#edf0f4 40%, #fff 90%);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
	color:#444;
}

#top {
	background: #bd3632;
	padding:5px 5px 5px 15px;
	height:44px;
	width: 360px;
	vertical-align: middle;
	@include border-radius(44px);
	margin-bottom:10px;
	@include box-shadow(#888 1px 1px 2px);
}

h1 {
	font-family: "Grand Hotel";
	font-size:32px;
	color:#fafafa;
	margin:0;
	@include text-shadow(#444 1px 1px 2px);
	display: inline;
}

#search {
	width:200px;
	margin-left:20px;
	margin-top: 5px;
	border-radius: 20px
}

#main {
	width: 960px;
	height: 600px;
	margin:0px auto;
	margin-top:130px;
}

.rounded {
	@include border-radius(8px);
	@include box-shadow(#aaa -1px -1px 7px inset);
}

#chart {
	@extend .rounded;
	background: #fafafa;
	width:650px;
	height:500px;
	margin:0 10px 0 0px;
	float:left;
}

#leaderboard {
	@extend .rounded;
	@include box-shadow(#aaa 1px 2px 7px);
	background:#aaa;
	float:right;
	width:270px;
	height:500px;
	margin: 0 20px 0 10px;
	table {
		@include border-top-left-radius(8px);
		@include border-top-right-radius(8px);
		width:100%;
		thead {
			font-weight:bold;
		}
		tr td {
			padding:5px 10px;
		}
		.zebra1 {
			background: #EFE3E7;
		}
		.zebra2 {
			background:#fff;
		}
	}
}

#graphbg {
	position:fixed;
	bottom:-270px;
	right:0;
	z-index:-1;
}

